In [9]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
# Importing Home Dataset
home_data = pd.read_csv("home-dataset.csv")

In [4]:
# Data Test
home_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [13]:
# Filling Missing Values
bedrooms_median = math.floor(home_data["bedrooms"].median())
print("Bedrooms Median : {}".format(bedrooms_median))
home_data["bedrooms"] = home_data["bedrooms"].fillna(bedrooms_median)

Bedrooms Median : 4

In [14]:
# Cleaned Data
home_data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [15]:
# Creating Linear Regression Object
mlr = linear_model.LinearRegression()

In [39]:
# Training Model using home dataset

# Independent Variables
X = home_data[['area','bedrooms','age']]

# Dependent Variable
y = home_data['price']

mlr.fit(X,y)

LinearRegression()

In [40]:
# Model Coefficients
print("Area Coefficient     : {:.4f}".format(mlr.coef_[0]))
print("Bedrooms Coefficient : {:.4f}".format(mlr.coef_[1]))
print("Age Coefficient      : {:.4f}".format(mlr.coef_[2]))

Area Coefficient     : 112.0624
Bedrooms Coefficient : 23388.8801
Age Coefficient      : -3231.7179

In [41]:
# Model Intercept
print("Intercept : {:.4f}".format(mlr.intercept_))

Intercept : 221323.0019

In [47]:
# Predicting Home Prices
predicted_price = pd.DataFrame({"Predicted Home Prices":mlr.predict(X)})
predicted_price

   Predicted Home Prices
0          518217.632976
1          602590.079374
2          615307.414037
3          597962.895832
4          760663.426755
5          795258.551027

In [52]:
# Result
result = X
result["Predicted Home Price"] = predicted_price["Predicted Home Prices"]
result

   area  bedrooms  age  Predicted Home Price
0  2600       3.0   20         518217.632976
1  3000       4.0   15         602590.079374
2  3200       4.0   18         615307.414037
3  3600       3.0   30         597962.895832
4  4000       5.0    8         760663.426755
5  4100       6.0    8         795258.551027

In [53]:
# Exporting Result as CSV file
result.to_csv("result.csv",index=False)